streamlit==1.32.0
pandas==2.2.0
numpy==1.26.0
plotly==5.18.0
geopandas==0.14.0
# fiona==1.9.5
pyproj==3.6.1
shapely==2.0.2
folium==0.15.1
streamlit-folium==0.15.0
textblob==0.17.1
wordcloud==1.9.3
scikit-learn==1.4.0
matplotlib==3.8.0
tenacity==8.2.3
geopy==2.4.1
requests==2.31.0
python-dotenv==1.0.0
rtree==1.1.0
mkdocs==1.5.3
mkdocs-material==9.4.6
mkdocstrings==0.24.0
mkdocstrings-python==1.7.3